.add-to-cart-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.add-to-cart-button:hover {
  background-color: #FFD60A;
  transform: translateY(2px)
}

.add-to-cart-button:active{
  transform: translateY(4px);
  background-color: #1e7e34;
  box-shadow: 0 2px 0 #155d27 inset;
}
.add-to-cart-button:disabled {
  background-color: red;
  cursor: not-allowed;
}
