.add-to-cart-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.add-to-cart-button:hover {
  background-color: #218838;
}

.add-to-cart-button:disabled {
  background-color: #94d3a2;
  cursor: not-allowed;
}
