#root html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 0;
}

html, body {
  overflow-x: hidden;  /* Evita que algo que sobresale genere scroll horizontal */
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}